#caja1
h1
{
	color:blue;
	text-align:center;
}
h2
{
	color:green;
	text-align:center;
}
h3
{
	color:#000080;
	text-align:left;
}
p
{
	color:#008080;
	text-align:left;
}
#caja2
h2
{
	color:orange;
	text-align:center;
}